@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: url("../fonts/RobotoLight.ttf");
}

@font-face {
    font-family: ArialRegular;
    src: url("../fonts/ArialRegular.ttf");
}

@font-face {
    font-family: ArialBold;
    src: url("../fonts/ArialBold.ttf");
}

@font-face {
    font-family: PantonRegular;
    src: url("../fonts/PantonRegular.ttf");
}

@font-face {
    font-family: PantonBold;
    src: url("../fonts/PantonBold.ttf");
}


body {
    margin: 0;
}

#header #header-container {
    max-width: 1660px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

#header #header-container .social {
    display: flex;
    width: 89px;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 56px;
}

.icons {
    transition: .5s ease;
}

.icons:hover {
    transition: all .5s;
    opacity: 0.5;
}


#header #header-container #menu {
    width: 473px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 95px;
}

#header #header-container #menu a {
    text-decoration: none;
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    transition: .5s ease;
}

#header #header-container #menu .item:hover {
    color: rgba(1, 103, 138, 1);
    transform: scale(1.2);
}


#header #header-container #contacts {
    display: flex;
    align-items: center;
    width: 607px;
    justify-content: space-between;
}

#header #header-container #contacts #address {
    display: flex;
    align-items: center;
    text-decoration: none;
}


#header #header-container #contacts #address #contacts-address {
    width: 111px;
    font-family: ArialRegular, sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #474747;
    margin-left: 10px;
}

#header #header-container #contacts #time {
    display: flex;
    align-items: center;
}

#header #header-container #contacts #time #time-text {
    margin-left: 10px;
    font-family: PantonRegular, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #12354B;
    display: flex;
    align-items: center;
}


#header #header-container #contacts #time #time-text #time-day {
    color: #919191;
    margin-left: 11px;
}


#header #header-container #contacts #phone {
    display: flex;
    align-items: center;

}

#header #header-container #contacts #phone #phone-number {
    font-family: PantonBold, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #3C3C3C;
    margin-left: 10px;
    width: 157px;
}

.button-action {
    width: 185.68px;
    height: 41.2px;
    background: #38BCEA;
    border-radius: 3px;
    border: 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#header-button .button-action {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#header-button .button-action::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: all .3s;
}

#header-button .button-action:hover::after {
    transform: translate(0, 0);

}

#header-button .button-action:hover {
    animation-play-state: paused
}

#header-button .button-action span {
    z-index: 999;
    position: relative;
}


#main #main-container {
    background-image: url("../images/bg.png");
    background-position: right;
    width: 1660px;
    margin: 0 auto;
    position: relative;
}

#main #main-container #main-text {
    padding-top: 147px;
    padding-bottom: 147px;
}

#main #main-container #main-location {
    font-family: ArialRegular, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #4E4E4E;
}

.title-block {
    font-family: PantonBold, sans-serif;
    font-size: 48px;
    line-height: 59px;
}

#main-container #main-text .title-block {
    width: 351.85px;
    line-height: 104.19%;
    color: #1A3444;
    padding: 18px 0;
}

#main #main-container #main-subtitle {
    width: 464.71px;
    font-family: ArialRegular, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #6F6F6F;
    margin-bottom: 37px;
}


#main #main-container #main-button .button-action {
    margin-left: 0;
    width: 295.86px;
    height: 60.27px;
    font-size: 20px;
    line-height: 20px;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: .5s ease;
}

#main-button .button-action::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: .5s ease;
}

#main-button .button-action:hover::after {
    transform: translate(0, 0);
}

#main-button .button-action span {
    z-index: 999;
    position: relative;
}

#main #main-container #main-block {
    display: flex;
    position: absolute;
    bottom: -37px;
    width: 100%;
}

#main #main-container #main-block #main-block-left {
    width: 769.18px;
    height: 105.96px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(19px);
}

#main #main-container #main-block #main-block-left-general {
    display: flex;
    justify-content: flex-end;
    margin-top: 27px;
}

#main #main-container #main-block #main-block-left img {
    width: 44.17px;
    height: 44.17px;
}


#main #main-container #main-block #main-block-left #main-block-left-text {
    width: 290px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: ArialRegular, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
}

#main #main-container #main-block #main-block-middle {
    width: 368.71px;
    height: 105.96px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(19px);
    margin: 0 6.5px;
}

#main #main-container #main-block #main-block-middle-general {
    justify-content: flex-start;
    display: flex;
    margin-top: 27px;
}

#main #main-container #main-block #main-block-middle img {
    margin-left: 30px;
}

#main #main-container #main-block #main-block-middle #main-block-middle-text {
    width: 185.11px;
    font-family: ArialRegular, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    margin-left: 30px;
}

#main #main-container #main-block #main-block-right {
    width: 769.18px;
    height: 105.96px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(19px);

}

#main #main-container #main-block #main-block-right-general {
    display: flex;
    justify-content: flex-start;
    margin-top: 27px;
}

#main #main-container #main-block #main-block-right img {
    margin-left: 30px;
}

#main #main-container #main-block #main-block-right #main-block-right-text {
    width: 185.11px;
    font-family: ArialRegular, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    margin-left: 30px;
}


#services-container {
    margin: 0 auto;
    max-width: 1660px;
}

#services-title-general {
    margin-top: 114px;
}

#services-title-general .title-block {
    color: rgba(18, 53, 75, 1);
}


#services-title-general #services-subtitle {
    width: 439.19px;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
    margin-top: 14px;
    margin-bottom: 52px;
}

#services-container #services-list {
    width: 1650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 119px;
}

.services-item {
    width: 298px;
    height: 236.71px;
    margin: 18px 20px;
    position: relative;
    background: #FBFBFB;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 45px;
}


.services-item:nth-child(1) {
    margin-left: 0;
}

.services-item:nth-child(5) {
    margin-right: 0;
}

.services-icon {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;

}

.services-icon svg {
    fill: #38BCEA;
}

.services-text {
    margin: 0 auto;
    text-align: center;
    width: 218.57px;
    font-family: PantonBold, sans-serif;
    font-size: 26px;
    line-height: 32px;
    color: #454545;
}


#reviews {
    background: #FBFBFB;
}

#reviews #reviews-container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 124px 0;
}

#reviews #reviews-container .title-block {
    color: #272727;
}

#reviews-container #reviews-item-general {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

#reviews-item-general .reviews-item {
    width: 525.41px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0 75px 0 37px;
    box-sizing: border-box;
    transition: .5s ease;
}

.reviews-item:hover {
    transform: scale(1.05);
    transition: .5s ease;
}


#reviews-item-general .reviews-item:last-child {
    padding-right: 45px;
}

.reviews-item .reviews-number {
    font-family: PantonRegular, sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #38BCEA;
    padding-top: 58px;
}

.reviews-item .reviews-item-title {
    width: 422.85px;
    font-family: PantonBold, sans-serif;
    font-size: 36px;
    line-height: 44px;
    color: #222222;
    padding-top: 8px;
}

.reviews-item .reviews-item-subtitle {
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #292929;
    padding: 8px 0 58px 0;
}

#present {
    margin: 135px 0 150px 0;
}

.bg {
    background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
}

#present #present-container {
    max-width: 1660px;
    height: 436px;
    margin: 0 auto;
    padding: 63px 0;
    position: relative;
}

#present #present-container .title-block {
    width: 892px;
}

form {
    display: inline-block;
}

.text-form {
    width: 532.86px;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    line-height: 130.49%;
    color: #262626;
    padding: 38px 0;
}

.text-form span {
    color: #0079FF;
}

form .phone {
    width: 232.97px;
    height: 71.02px;
    background: #FEFEFE;
    border-radius: 5px;
    border: 0;
    padding: 0 27px;
    box-sizing: border-box;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    color: #BBBBBB;
    outline: none;
}

form .phone::placeholder {
    height: 31px;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    color: #BBBBBB;
    display: flex;
    align-items: center;
}


.form-general .button-action {
    width: 323.78px;
    height: 71.02px;
    border-radius: 5px;
    font-family: ArialBold, sans-serif;
    font-size: 24px;
    line-height: 130.49%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 21px;
    transition: ease 0.5s;
}


@keyframes pulse-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.form-general .button-action {
    animation: pulse-2 1s infinite;
}


.form-general .button-action::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: all .3s;
}

.form-general .button-action:hover::after {
    transform: translate(0, 0);

}

.form-general .button-action:hover {
    animation-play-state: paused
}

.form-general .button-action span {
    z-index: 999;
    position: relative;
}

.accord {
    width: 493.22px;
    font-family: ArialRegular, sans-serif;
    font-size: 18px;
    line-height: 130.49%;
    color: #4E4E4E;
    padding-top: 32px;
}

.accord a {
    cursor: pointer;
    text-decoration: none;
}

#present-image {
    position: absolute;
    bottom: 0;
    right: 28px;
}

#advantages-container {
    max-width: 1660px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 154px;
    justify-content: space-between;
}

#advantages-container #advantages-text #advantages-subtitle {
    width: 526.06px;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
    margin: 14px 0 62px 0;
}

#advantages-container #advantages-text .title-block {
    color: #12354B;;
}

#advantages-text #advantages-logo {
    display: flex;
    align-items: center;
}

#advantages-text #advantages-logo span {
    font-family: RobotoLight, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #1A3444;
    margin-left: 9px;
}

.advantages-block-service-text {
    width: 648.28px;
    font-family: ArialRegular, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #242424;
    margin-top: 6px;
}


#advantages-block-services #advantages-block-services-item {
    width: 425px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0;
}

.advantages-block-service-item:nth-child(1) {
    width: 122px;
}

.advantages-block-service-item:nth-child(2) {
    width: 130px;
}

.advantages-block-service-item:nth-child(3) {
    width: 151px;
}

.advantages-block-service-item:nth-child(4) {
    width: 264px;
}

.advantages-block-service-item:nth-child(5) {
    width: 151px;
}


#advantages-block-services #advantages-block-services-item .advantages-block-service-item {
    background: #F9F9F9;
    font-family: ArialRegular, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #242424;
    padding: 12px 0;
    margin-bottom: 10px;
    text-align: center;
}


#advantages-text #advantages-block-logo {
    width: 588px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px;
}


.advantages-slick {
    display: flex;
    align-items: flex-end;
    width: 873px;
}

.slick-prev, .slick-next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #2E3A59;
    box-sizing: border-box;
    top: 130px;
}

.slick-prev:before {
    content: url("../images/prev.png");
    opacity: 1;
}

.slick-next:before {
    content: url("../images/next.png");
    opacity: 1;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 740px;
}


.image-slick {
    width: 873px;
    height: 535px;
}

.image-slick img {
    width: 100%;
    height: 100%;
    object-fit: cover
}


#personnel #personnel-container {
    max-width: 1660px;
    margin: 0 auto;
}

#personnel #personnel-container .title-block {
    color: #12354B;
}

#personnel #personnel-container #personnel-text-subtitle {
    width: 526.06px;
    font-family: ArialRegular, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
    margin-bottom: 40px;
    margin-top: 14px;
}

#personnel #personnel-container #personnel-item-general {
    display: flex;
    flex-wrap: wrap;
    width: 1660px;
    justify-content: space-between;
}

#personnel #personnel-container #personnel-item-general .personnel-item {
    width: 800px;
    height: 415px;
    background: linear-gradient(255.02deg, #F7F8FA -0.59%, #EFF0F4 100%);
    box-shadow: 0px 13px 50px rgba(192, 192, 192, 0.2);
    border-radius: 4px;
    display: flex;
    margin: 33px 0;
    overflow: hidden;
    padding-left: 55px;
    box-sizing: border-box;
    transition: .5s ease;
}


.personnel-item:hover {
    transform: scale(1.05);
    transition: .5s ease;
}

#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(3),
#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(4) {
    background: #f6f7f9;
    box-shadow: 0px 13px 50px rgba(192, 192, 192, 0.2);
    border-radius: 4px;
    bottom: 0;
}

.personnel-item .personnel-item-text {
    margin-top: 60px;
    padding-right: 15px;
    position: relative;
    z-index: 999;
}

.personnel-item-text .personnel-item-text-name {
    width: 280px;
    font-family: PantonBold, sans-serif;
    font-size: 36px;
    line-height: 44px;
    color: #363636;
    margin-bottom: 14px;
}


.personnel-item-text .personnel-item-text-post, .personnel-item-text-experience {
    font-family: ArialRegular, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #3E3E3E;
    margin-bottom: 11px;
}

.personnel-item-text .personnel-item-text-post {
    width: 434px;
}

.personnel-item .personnel-image {
    position: relative;
    top: -18px;
}


#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(3) .personnel-image,
#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(4) .personnel-image {
    top: 0;
    left: -178px;
}


#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(3) .personnel-item-text .personnel-item-text-name,
#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(4) .personnel-item-text .personnel-item-text-name,
#personnel #personnel-container #personnel-item-general .personnel-item:nth-child(5) .personnel-item-text .personnel-item-text-name {
    width: 295px;
}


#certificates .title-block {
    margin-top: 186px;
    margin-bottom: 93px;
}

#certificates #certificates-slick {
    width: 1650px;
    display: flex;
    margin-bottom: 224px;
}

#certificates-slick .slick-prev {
    left: -86px;
    top: 50%;
}

#certificates-slick .slick-next {
    right: -86px;
    top: 50%;
}

#consultation #consultation-container {
    max-width: 1660px;
    height: 430px;
    margin: 0 auto;
    padding: 63px 0;
    position: relative;
}

#consultation #consultation-container #consultation-text {
    height: 437px;
    position: relative;
}

#consultation #consultation-container #consultation-text .title-block {
    color: #000000;
    width: 892px;
}

#consultation-container #consultation-images {
    position: absolute;
    bottom: 0;
    right: 28px;
}

#footer {
    background: #F2F3F5;;
}

#footer #footer-container {
    max-width: 1660px;
    margin: 0 auto;
    display: flex;
    padding: 61px 0;
    align-items: center;
    justify-content: space-between;
}

#footer #footer-container .social {
    width: 192px;
    display: flex;
    justify-content: space-between;
}

#footer #footer-container #data {
    width: 464px;
    font-family: ArialRegular, sans-serif;
    font-size: 15px;
    line-height: 145.49%;
    text-align: center;
    color: #000000;
    margin-left: 368px;
    margin-right: 155px;
}

#footer #footer-container #politics {
    width: 240px;
    margin-right: 169px;
}

#footer #footer-container #politics a {
    font-family: ArialRegular, sans-serif;
    font-size: 15px;
    line-height: 145.49%;
    color: #000000;
}

.services-arrow {
    width: 100%;
    height: 47.75px;
    background: #fdfdfd;
    position: absolute;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}


#price-teeth, #price-hygiene, #price-braces, #price-pediatric-dentistry, #price-implants,
#price-veneers, #price-crowns, #price-surgery {
    width: 100%;
    display: none;
    margin: 25px 0;
}

.price-item {
    display: flex;
    align-items: center;
    background: #FBFBFB;
    margin-bottom: 18px;
}

.name-item, .price {
    font-family: ArialRegular, sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.price {
    margin-right: 86px;
    width: 102px;
}

.name-item {
    width: 684px;
    margin-right: 420px;
    padding-left: 38px;
}

.price-button .button-action {
    width: 295.86px;
    height: 80.23px;
    background: #38BCEA;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-family: ArialBold, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    transition: .1s ease;
}

.price-button .button-action::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: .2s ease;
}

.price-button .button-action:hover::after {
    transform: translate(0, 0);
}

.price-button .button-action span {
    z-index: 999;
    position: relative;
}


.active-teeth {
    color: white;
    fill: white !important;
}

.bg-services {
    background: #38BCEA;
    box-shadow: 0px 20px 50px rgba(165, 165, 165, 0.2);
    padding-top: 32px;

}

#reservation-container {
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

#reservation-container.btn-onl {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 20px;
}

#reservation-sent {
    display: none;
}

#reservation {
    position: relative;
    width: 1070px;
    height: 485px;
    background: #F2F3F5;
    margin: 0 auto;
}

#reservation-content {
    padding: 60px 0;
}

 #reservation-cancel {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
}

#reservation-content #reserve {
    display: flex;
    width: 810px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.block-title {
    font-size: 25px;
    font-family: PantonBold, sans-serif;
    color: #12354B;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 60px auto;
    width: 292px;
}

.reserve-input {
    margin-bottom: 40px;
}

.reserve-input input {
    border: 1px solid #12354B;
    width: 223px;
    height: 43px;
    background: transparent;
    padding: 15px;
    outline: 0;
    font-size: 16px;
    font-family: PantonRegular, sans-serif;
    color: #12354B;
    box-sizing: border-box;
    position: relative;
}

.reserve-input input:active {
    background: transparent;
}

.reserve-input input::placeholder {
    font-size: 16px;
    font-family: MullerRegular, sans-serif;
    color: #12354B;
    text-align: left;
}

::-webkit-calendar-picker-indicator {
    filter: invert(60%);
}

.reserve-input .reserve-select select {
    border: 1px solid #12354B;
    width: 223px;
    height: 43px;
    background: transparent;
    padding: 9px;
    outline: 0;
    font-size: 16px;
    font-family: MullerRegular, sans-serif;
    color: #12354B;
    box-sizing: border-box;
    appearance: none;
    position: relative;
    z-index: 999999;
}

.reserve-input .reserve-select select option {
    background: rgba(255, 255, 255, 0.1);
    color: #12354B;
    font-family: MullerRegular, sans-serif;
    min-height: 50px;
    border: 0;
}

.reserve-input .reserve-select {
    width: 223px;
    height: 43px;
    position: relative;
}

.select-arrow-3 {
    position: absolute;
    border-bottom: 0;
    right: 15px;
    top: calc(50% - 8px);
    z-index: 9999;
}

#reserve-button {
    text-align: center;
    margin-top: 20px;
}

.animate-blue {
    background: #38BCEA;
    width: 232px;
    height: 60px;
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 0;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
}

.animate-blue:hover {
    transform: scale(1.1);
    transition: .5s ease;
}


.animate-blue::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: .2s ease;
}

.animate-blue:hover::after {
    transform: translate(0, 0);
}

 .animate-blue span {
    z-index: 999;
    position: relative;
}






#reservation-sent {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.reservation-sent-text {
    font-size: 18px;
    font-family: MullerRegular, sans-serif;
    color: #12354B;
    line-height: 1.389;
    text-align: center;
    width: 362px;
    margin: 0 auto;
}

.error-input, .error-call {
    font-size: 15px;
    color: #38BCEA;
    display: none;
    position: absolute;
    font-family: PantonRegular, sans-serif;
    width: 240px;
}


.error-call {
    font-size: 18px;
    color: #38BCEA;
    display: none;
    position: absolute;
    font-family: PantonRegular, sans-serif;
    width: 313px;
    padding-top: 5px;
}

input:active {
    background: transparent;
}






.call-container {
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

.call-container.btn-onl {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 20px;
}

.call {
    position: relative;
    width: 600px;
    /*height: 485px;*/
    background: #F2F3F5;
    margin: 0 auto;
}

#call-text {
    margin-top:60px;
}

.call-admin {
    font-size: 18px;
    font-family: MullerRegular, sans-serif;
    color: #12354B;
    line-height: 1.389;
    text-align: center;
    width: 362px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.call-container #call-text .block-title {
    margin-bottom: 20px;
    color: black;
}


#form-phone-container {
    display: none;
    position: relative;
    top: 0;
    right: 0;
}

#form-phone-container.btn-onl {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 20px;
}


#form-phone {
    position: relative;
    width: 880px;
    height: 285px;
    background: #F2F3F5;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    z-index: 9999999;
}

#form-phone-content {
    padding: 60px 0;
    text-align: center;
}

#phone-text {
    font-family: PantonBold, sans-serif;
    font-size: 23px;
    color: #12354B;
    padding-bottom: 40px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
}

#success {
    display: none;
    padding: 60px 0;
}


#consultation-container .call  {
    top: 170px;
}

#present-container-text .call {
    top: 240px
}



.call-btn {
    width: 323.78px;
    height: 71.02px;
    border-radius: 5px;
    font-family: ArialBold, sans-serif;
    font-size: 24px;
    line-height: 130.49%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 21px;
}

a:visited {
    color: #4E4E4E;;
}


.call-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #52d0fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: .2s ease;
}

.call-btn:hover::after {
    transform: translate(0, 0);
}

.call-btn span {
    z-index: 999;
    position: relative;
}

